@import "tailwindcss";
@plugin "daisyui";

@theme {
  --font-display: "Poppins", sans-serif;
  --font-long: "Merriweather", serif;
  --font-sans: var(--font-display);
  --font-serif: var(--font-long);
}

#sessionize.sessionize-wrapper {
  font-family: var(--font-serif) !important;
}

@utility btn {
  @apply font-display 
}


@plugin "daisyui/theme" {
  name: "MIB";
  default: true;
  prefersdark: true;
  color-scheme: "light";
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(98% 0 0);
  --color-base-300: oklch(95% 0 0);
  --color-base-content: oklch(21% 0.006 285.885);
  --color-primary: #060405;
  --color-primary-content: oklch(93% 0.034 272.788);
  --color-secondary: oklch(98% 0.003 247.858);
  --color-secondary-content: #060405;
  --color-accent: #3089ff;
  --color-accent-content: oklch(98% 0.002 247.839);
  --color-neutral: #d1d9e6;
  --color-neutral-content: #060405;
  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(76% 0.177 163.223);
  --color-success-content: oklch(37% 0.077 168.94);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: oklch(71% 0.194 13.428);
  --color-error-content: oklch(27% 0.105 12.094);
  --radius-selector: 0.25rem;
  --radius-field: 0.25rem;
  --radius-box: 0.25rem;
  --size-selector: 0.3125rem;
  --size-field: 0.3125rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

@keyframes concentricCircles {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(5px);
  }

  75% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

#flying-alien {
  animation: concentricCircles 4s linear infinite;
}

@plugin "@tailwindcss/typography";
