---
import Header from "../../components/shared/Header.astro";
import Seo from "../../components/shared/Seo.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout lang="it">
  <Seo slot="seo" title="Programma" />
  <Header />
  <main>
    <div class="bg-white mt-8 md:mt-20 2xl:mt-32 py-8 md:py-20 2xl:py-32">
      <div class="container m-auto">
        <div
          class="text-primary pb-8 md:pb-20 text-center font-display font-black"
        >
          <h2 class="text-3xl md:text-5xl">Programma</h2>
          <p class="text-center text-xl md:text-3xl font-normal">
            (Può variare durante l'evento)
          </p>
        </div>
      </div>
      <div class="container mx-auto px-5">
        <div class="text-center">
          <script
            is:inline
            type="text/javascript"
            src="https://sessionize.com/api/v2/6dnuxqwq/view/GridSmart"
          ></script>
        </div>
      </div>
    </div>
  </main>
</Layout>
